@import "tailwindcss";


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}

@media print {
  /* hide everything first */
  body * {
    visibility: hidden;
  }
  /* show only resume preview area */
  #resume-preview, #resume-preview * {
    visibility: visible;
  }
  #resume-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
